@page
@{
    ViewBag.Title = "Delivery";
}

<header class="page-header">
    <h1>@ViewBag.Title</h1>
</header>

<section>
    <form asp-page="/about" method="post" class="appform">
        <input type="text" name="test" required />
        <button type="submit">test</button>
    </form>
</section>