@page
@model ErrorModel
@{
    ViewBag.Title = "Main";
}

<header class="page-header">
    <h1>@ViewBag.Title</h1>
</header>

@if (Model.ShowRequestId)
{
    <section class="page-text">
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    </section>
}